# データの受け取り方の定義
receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

# データの加工法の定義
processors:
  batch:

# データの送り先の定義
exporters:
  otlp/jaeger:
    endpoint: jaeger:4317
    tls:
      insecure: true
  otlp/honeycomb:
    endpoint: api.honeycomb.io:443
    headers:
      x-honeycomb-team: ${HONEYCOMB_API_KEY}

# パイプラインの組み立て設定
service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/jaeger, otlp/honeycomb]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/honeycomb]
